<!DOCTYPE html>
<html
    layout:decorate="~{layouts/default}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
  ...loading
  <script>
    const params = new URLSearchParams(window.location.search);
    const code = params.get('code');

    if (code) {
      fetch(`http://localhost:8080/github/oauth?code=${code}`)
      .then(response => {
        if (!response.ok) {
          throw new Error('백엔드 요청 실패');
        }
        return response.json();
      })
      .then(data => {
        localStorage.setItem('accessToken', data.accessToken);
        window.location.href = '/home';
      })
      .catch(error => {
        console.error('에러:', error);
      });
    } else {
      console.error('code가 URL에 없음');
    }
  </script>
</div>

</html>